@charset "UTF-8" ;
/*Isso é pra pegar acentuação e cabeçalho*/

body{
    background-color: greenyellow;
    color: rgba(0, 0, 0, 1);
}
/* Comentário em CSS */
/*background-color encima está definindo o fundo do site pra verde claro*/
/*background-image: url("NomeDoArquivo.jpg"); = serve pra adicionar o fundo sendo o arquivo. Note que o arquivo precisa estar na mesma área do index*/
/*color está defindo a cor da letra pra vermelhor */
/*A cor pode ser escrita normalmente ( yellow, green, etc ), hexadecimal ( Ex : #a1d3ef ou a1 é a parte vermelha, d3 parte verde e ef parte azul), rgb(35, 137, 195) , rgba (0,0,0,0) onde o último 0 é transparência pode ser 0 até 1, hsl(M, S%, L%) = MatizSaturaçãoLuminosidade*, hsla ( M, S%, L%, A) onde A é Alpha */
p{
    text-align: justify;
    text-indent: 50px;
}

figure.foto-legenda {
/*Aqui está configurando as imagens do site que tem a classe foto-legenda*/
    position: relative;
    /*Posição no código HTML*/
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    /*Isso vai deixar com que o texto fique invisível*/
    position: absolute;
    /*Vai ficar na posição absoluta do seu pai o figure*/
    top:0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 50px;
    /*Espaçamento da legenda*/
    box-sizing: border-box;
    /*Corrige o salto pra fora do fundo*/
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption {
    opacity: 1;
}
